<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>SmartShopping</title>
<link rel="stylesheet" href="WebShoppingApp.css">
</head>
<body>
	<div class="header">
		<div class="header-logo">SmartShopping</div>
		<div class="header-list">
			<ul>
				<li>login</li>
				<li>新規登録</li>
				<li>お問い合わせ</li>
			</ul>
		</div>
	</div>

	<div class="main">
		<div class="copy-container">
			<h1>
				Welcome<span>!</span>
			</h1>
		</div>

		<div class="contents2">
			<div class="section-title">
				<th:block>
					<h3 th:text="${customerName}"></h3>
					<h4>のショッピングカート</h4>
				</th:block>
			</div>
			<div class="contents-item">
				<h4>カートに入っている商品の数</h4>
				<th:block>
					<ul>
						<li th:text="${num}"></li>
						<li>個</li>
					</ul>
				</th:block>
			</div>
			<div class="contents-item">
				<h4>合計金額</h4>
				<th:block>
					<ul>
						<li th:text="${price}"></li>
						<li>円</li>
					</ul>
				</th:block>
			</div>
		</div>
		<br>
		<a href="/reset">カートの中身を空にする</a>
		<br><br>
		<div class="contents">
			<h3 class="section-title">商品一覧</h3>
			<div class="contents-item">
				<img src="../static/image/smartphone.jpg" alt="smartphone"
					width="300" height="300">
				<p>smartphone</p>
				<p>1個 100000円</p>
				<a href="/buy-smartphone">カートに入れる</a>
				<!--            <a href="/DetailAboutSmartPhone">詳細ページへ</a>  -->
			</div>
			<div class="contents-item">
				<img src="../static/image/hinaningyou.jpg" alt="hinaningyou"
					width="300" height="300">
				<p>雛人形</p>
				<p>1個 200000円</p>
				<a href="/buy-hinaningyou">カートに入れる</a>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="footer-logo">SmartShopping</div>
		<div class="footer-list">
			<ul>
				<li>お問い合わせ</li>
			</ul>
		</div>
	</div>
</body>
</html>