<!DOCTYPE html>
<html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
  <head>
    <meta charset="utf-8">
    <title>SmartShopping</title>
    <link rel="stylesheet" href="WebShoppingApp.css">
  </head>
  <body>
    <div class="header">
      <div class="header-logo">SmartShopping</div>
      <div class="header-list">
        <ul>
          <li>login</li>
          <li>新規登録</li>
          <li>お問い合わせ</li>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="contents">
        <form method="POST" action="login_home">
		<input type="text" name="loginName" /> <input type="submit" value="ログイン" />
	</form>
      </div>
    </div>

    <div class="footer">
      <div class="footer-logo">SmartShopping</div>
      <div class="footer-list">
        <ul>
          <li>お問い合わせ</li>
        </ul>
      </div>
    </div>
  </body>
</html>